---
---

@import "{{ site.theme }}";

.page-header {
	background-position: top;
	background-image: url("{{ '/assets/img/header.png?v=' | append: site.github.build_revision | relative_url }}");
	background-position: top;
	box-shadow: 0px 0px 40px rgba(0,0,0,0.75);
}

.btn {

}

.project-name {
	max-width: 100%;
}